.puppy-card {
  max-width: 455px;
}

.puppy-photo {
  z-index: 2;
  border-radius: 20px;
  position: relative;
}

.puppy-photo .available-label,
.puppy-photo .unavailable-label {
  position: absolute;
  padding: 8px 30px;
  background-color: #9fc64d;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  top: 20px;
  left: 20px;
}

.puppy-photo .available-label {
  background-color: #9fc64d;
}

.puppy-photo .unavailable-label {
  background-color: #cc3249;
}

.puppy-card-image {
  border-radius: 20px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: 2;
}

.puppy-details {
  position: relative;
  margin: 30px;
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.05);
  margin-top: -50px;
  z-index: 99 !important;
}

.puppy-name {
  font-size: 1.3rem;
  font-family: "Posterama";
  color: var(--dark-blue);
}

.puppy-notation {
  color: rgb(255, 183, 0);
}

.deets-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.deets-row:first-of-type {
  border-bottom: 1px solid #e1e1e1;
}

.deets-row span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #747474;
}

.faIcon {
  color: var(--dark-blue);
  margin-right: 10px;
}

.action-btns {
  width: 100%;
  display: flex;
  gap: 10px;
}

.btn {
  margin-top: 10px;
  width: 50%;
  border-radius: 25px;
  background-color: var(--main-blue);
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 0.9rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
  color: #fff;
  border: 1px solid var(--dark-blue);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.adopt-btn {
  background-color: var(--main-blue);
}

.details-btn {
  border: 1.5px solid var(--main-blue);
  color: var(--main-blue);
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 448px) {
  .puppy-details {
    margin: 20px;
    margin-top: -50px;
  }
}

@media only screen and (min-width: 1284px) and (max-width: 1539px) {
  .puppy-details {
    margin: 20px;
    margin-top: -50px;
  }

  .deets-row span,
  .action-btns button {
    font-size: 0.8rem;
  }
}
