/* FONTS */
@font-face {
  font-family: Posterama;
  src: url(./assets/fonts/Posterama.ttf);
}

@font-face {
  font-family: Lietome;
  src: url(./assets/fonts/Lietome.ttf);
}

:root {
  --border-color: #d9d6d4;

  --main-blue: #67acaa;
  --secondary-blue: #c5e4f8;
  --dark-blue: #4b8684;

  --accent-color: #e28778;
  --accent-hover: #ffc2cb;
  --secondary-accent: #ef9da9;

  --button-bg: #eecbbb;
  --button-transparent-bg: #eecbbb00;
  --button-bg--hover: #e5bfae;
  --button-border-color: #eecbbb;
  
  --bg-dark-light: #ebe8e739;
  --text-dark: #5b544a;

  --border-radius: 10px;
}

/* GENERAL STYLING */
*,
html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 100%;
}

html, body {

  overflow-x: hidden;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Posterama;
}

@media only screen and (max-width: 965px) {
  .container {
    max-width: 90%;
  }

  .section-title {
    font-size: 2.2rem;
    text-align: center;
  }
  .section-subtitle {
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* FORMS */

/* BUTTONS */
.button {
  color: #fff;
  font-weight: 300;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 250px;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-8px);
  transition: transform .2s ease-in-out;
}

.non-responsive {
  display: none !important;
}

/* @media only screen and (max-width: 1382px) {

  section,
  .container,
  .navbar,
  #footer {
    display: none !important;
  }

  .non-responsive {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #e5bfae;
  }

  .non-responsive h1 {
    font-size: 5rem;
    color: #e28778;
  }

  .non-responsive p {
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
  }
} */
